body {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: 'Chivo Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

.top {
  background-color: #740404;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 3%;
  top: 0px;
}

.link-logo {
  width: 4%;
}

.link-logo img {
  width: 100%;
}

.logo:hover {
  cursor: pointer;
}

.links {
  margin-left: auto;
  margin-right: 15px;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
  width: 6%;
}

.links a:hover {
  color: #d7a743;
}

.car {
  margin: auto;
  margin-top: 70px;
  width: 60%;
}

.car h2 {
  text-align: center;
}

.imgs-car {
  width: 550px;
  margin: auto;
  background-color: #f2f2f2;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.select-image {
  max-width: 500px;
}

.select-image img {
  width: 100%;
  border-radius: 4px;
}

.thumbnails {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  gap: 7px;
}

.thumbnail img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.info-car {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 5px;
  height: 250px;
}

.info-car h3 {
  margin-left: 70px;
}

.info {
  display: flex;
}

.detail {
  list-style: none;
}

.detail {
  margin: auto;
  line-height: 0px;
}

.bt-agendar {
  text-align: center;
  padding-bottom: 5px;
}

.agendar {
  background-color: #740404 ;
  width: 30%;
  height: 35px;
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  float: none;
  margin-top: 50px;
}

.agendar:hover {
  transition: 0.5s;
  background-color: #8A2E2E;
  cursor: pointer;
}

.agendar:active {
  background-color: #02070c;
}

.final {
  width: 60%;
  margin-top: 1%;
  margin-bottom: 3%;
}